<navbar></navbar>

<div class="details">
    <div class="details-title">
        {{ data.title }}
    </div>
    <div class="details-buttons">
        <button class="details-buttons" *ngIf="userService.email == data.creador" (click)="remove()">Eliminar</button>
        <button class="details-buttons" *ngIf="esPotUnir()" (click)="unirse()">Unirse</button>
    </div>
    <div class="details-email">Professor Assignat: {{ msg.professor }}</div>
    <div class="details-email">Alumne Assignat: {{ msg.alumne }}</div>
    <div class="details-email">Creador: {{ data.creador }}</div>
    <div class="details-description">
        <p class="details-desc-text">Descripció:</p>
        <input type="text" class="details-desc" [(ngModel)]="data.description">
        <button class="details-desc-button" (click)="actualitzar()">Actualitzar</button>
    </div>

    <div class="details-comentaris">
        <div *ngFor="let comment of data.comments">
            <div>{{comment.name}}:{{comment.comm}}</div>
        </div>
        <div *ngIf="!esPotUnir()">
        <input type="text" class="details-comentaris-input" placeholder="Nou comentari" [(ngModel)]="comment_input">
        <button class="details-comentaris-input" (click)="addComment()">Afegir</button>
        </div>
    </div>
    
</div>