<navbar></navbar>

<div class="home">
  <div class="addTFG">
    <button class="addTFG-crear" (click)="nouTFG()">Crear TFG</button>
  </div>
  <div class="modal">
    <input class="modal-title" type="text" *ngIf="add" placeholder="Titol" [(ngModel)]="title">
    <button class="modal-submit" *ngIf="add" (click)="postTFG()">Penjar TFG</button>
  </div>
  <div>
    <div class="tfg" *ngFor="let d of data">
      <h3>{{d.title}}</h3>
      <p *ngIf="d.emailProf">Correu del Professor: {{d.emailProf}}</p>
      <p *ngIf="d.emailAlumne">Correu de l'alumne: {{d.emailAlumne}}</p>
    </div>
  </div>
</div>
