.navbar {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    overflow: hidden;

    background-color: #23A6D5;
    box-shadow: 0px 0 1px 0 black;

    div {
        width: 33%;
        height: 70%;

        button {
            background: transparent;
            border: none;
            height: 100%;
            width: 100%;
    
            color: white;
            cursor: pointer;
    
            border-right: 1px solid #1366A5;
        }
        .noborder {
            border:none !important;
        }
    
    }
    
}